{% extends 'layout.html' %}

{% block title %}Single Blog Post{% endblock %}

{% block content %}
    <!-- <h2 class="mt-4">Blog Post</h2> -->

    <div class="shadow p-3 mb-3 bg-body rounded">
        <h4>{{ post.title }}</h4>
        <small>By: {{ post.author.name }}<br />
        {{ post.date_posted }}</small><br />
        {{ post.content|safe }}<br /><br />

        <div class="card mb-3">
            <div class="row no-gutters">
                <!-- Profile Pic -->
                <div class="col-md-2">
                    {% if post.author.avatar %}
                        <!-- User Avatar -->
                        <div class="col-4">
                            <img src="{{ url_for('static', filename='images/' + current_user.avatar) }}" 
                                width="150" 
                                align="left" 
                            />
                        </div>
                    {% else %}
                        <!-- Default Avatar -->
                        <img src="{{ url_for('static', filename='images/avatar.png') }}" 
                            width="150"
                            align="right" 
                        />
                    {% endif %}
                </div>

                <!-- About Description -->
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ post.author.name }}
                        </h5>
                        <div class="card-text">
                            <p class="card-text">
                                {% if post.author.about %}
                                    {{ post.author.about }}<br /><br />
                                {% else %}
                                    Author has no about description yet...
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

   
    </div>
        
    {% if current_user.id == post.author.id %}
        <!-- edit post btn -->
        <a href="{{ url_for('posts.edit', id=post.id) }}"
            class="btn btn-outline-secondary btn-sm">
            Edit Post
        </a>
            
        <!-- delete post btn -->
        <a href="{{ url_for('posts.delete', id=post.id) }}"
            class="btn btn-outline-danger btn-sm">
            Delete Post
        </a>
    {% endif %}
        <!-- back btn -->
        <a href="{{ url_for('posts.index') }}" class="btn btn-outline-secondary btn-sm">
            Back To Blog
        </a>
{% endblock %}