{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div align="center" class="mt-5">
    <form action="/login" method="POST" class="col-6">
        <!-- Title -->
        <h2 align="center" class="my-3">Login</h2>

        <!-- Email Address -->
        <div class="mb-3">
            <label for="username" class="form-label float-start">Username</label>
            <input 
                type="email" 
                name="email" 
                value="{{ request.form.username }}" 
                class="form-control shadow-none"
                placeholder="Enter email" />
        </div>

        <!-- Password -->
        <div class="mb-3">
            <label for="password" class="form-label float-start">Password</label>
            <input type="password" 
                name="password" 
                value="{{ request.form.password }}" 
                class="form-control shadow-none" 
                placeholder="Enter password" />
        </div>

        <!-- Submit -->
        <button type="submit" class="btn btn-secondary shadow-none">Submit</button>
    </form>
</div>
{% endblock %}