{% extends 'layout.html' %}

{% block content %}
    <!-- Flash Message -->
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <!-- Form Fields -->
    {% if name %}
        <h1 class="mt-4">Hello, {{ name|title }}</h1>
        <!-- <img src="{{ url_for('static', filename='images/home.png') }}" width="1100" alt=""> -->
    {% else %}
        <h1 class="mt-4">What's Your Name?</h1>
        <br />
        <form action="" method="POST">
            {{ form.hidden_tag() }}

            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control shadow-none") }}
            <br />
            {{ form.submit(class="btn btn-secondary shadow-none") }}
        </form>
    {% endif %}
{% endblock %}