{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %} 
    <div class="p-4  mt-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-4">
            <h1 class="fw-bold">Ready to Ignite Your Marketing Success?</h1>
            <p class="col-md-8 fs-5 lead">
                Take your brand to new heights with the persuasive power of KopyKraft. Let us craft compelling content that captures
                attention, engages your audience, and drives conversions. Whether you're a startup, a small business, or an established
                enterprise, our copywriting expertise will help you cut through the noise and stand out in a crowded marketplace.
            </p>
            <button class="btn btn-outline-secondary btn-md" type="button">Learn More</button>
        </div>
    </div>
{% endblock %}