<nav class="navbar bg-dark navbar navbar-expand-lg bg-body-tertiary mb-3" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="/">KopyKraft</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('home.about') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home.services') }}">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('posts.index') }}">Blog</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('user.dashboard') }}">Dashboard</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('posts.create') }}">Add Post</a>
                    </li>

                    <!-- check if user is admin [assuming admin_id = 13] -->
                    {% if current_user.id == 13 %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin.add_user') }}">Add User</a>
                        </li>   

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin.dashboard') }}">Admin</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            
            <ul class="navbar-nav my-2 mb-lg-0">
                <form action="/search" 
                    method="POST"
                    class="d-flex mt-2" 
                    role="search">
                    {{ form.hidden_tag() }}
                    <input class="form-control form-control-sm shadow-none me-2" 
                        type="search" 
                        name="search"
                        placeholder="Search" 
                        aria-label="Search">
                    <!-- <button class="btn btn-sm btn-outline-success" type="submit">Search</button> -->
                </form>

                {% if current_user.is_authenticated %}
                    <!-- Account -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ current_user.username }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('profile.update', id=current_user.id) }}">Profile</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('profile.name') }}">Name</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <!-- Login -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                    </li>
                    <!-- Register -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>